body {
    margin: 0 auto;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
}

.container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}

/* Navbar */
.navbar {
    display: flex;
    height: 70px;
    align-items: center;
    gap: 30px;
    position: fixed;
    z-index: 1;
    background-color: white;
    width: 100%;
    cursor: pointer;
    font-size: 15px;
    justify-content: center;
    left: 0;
}

.logo {
    height: 40px;
    padding-right: 55px;
    margin-left: -20px;
}

.navbar button {
    cursor: pointer;
}

.dropdown-content {
    display: none;
}

.one,
.two,
.three,
.four {
    font-weight: bold;
}

.two {
    display: flex;
}

.two img {
    height: 18px;
    width: 18px;
    padding-top: 15px;
    padding-right: 5px;
}

.main_nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
}

.bu {
    content: "";
    width: 12px;
    height: 12px;
    background: #1774ff;
    border-radius: 25px;
    border: none;
    padding-top: 13px;
}

button.dropbtn {
    border: none;
    background: white;
    font-size: 17px;
    font-weight: bold;
    margin-left: -3px;
}

#btn1 {
    background: white;
    font-size: 15px;
    border: none;
    margin-left: -36px;
    display: none;
    cursor: pointer;
    transition: all .5s cubic-bezier(.165, .84, .44, 1);

}

#btn {
    background: white;
    border: none;
    margin-left: 10px;
    cursor: pointer;
    transition: all .5s cubic-bezier(.165, .84, .44, 1);
}

.left_nav {
    display: flex;
}

#cart {
    display: none;
    border-top: none;
    position: absolute;
    border-radius: 5px;
    padding: 25px 40px 25px 30px;
    width: 300px;
    right: 180px;
    top: 70px;
    background-color: #EDEFF2;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

#cart img {
    width: 25%;
    padding: 0px 20px 0px 10px;
}

.first_contant {
    background-color: white;
    padding: 5px;
    display: flex;
}

.input {
    padding: 0px !important;
    width: 25px !important;
    text-align: center;
    border: 1px solid #D4E5FF;
    border-radius: 4px;
}

.butto {
    display: flex;
    justify-content: flex-end;
    background-color: white;
    padding: 5px;
}

.minus,
.plus {
    border-radius: 4px;
    color: blue;
    border: 1px solid #D4E5FF;
    font-size: 20px;
    width: 20px;
    text-align: center;
}

#cart p {
    font-size: 13px;
    letter-spacing: 0.02rem;
}

.middle_contant {
    background: linear-gradient(180deg, #F5F7FA 0%, rgba(245, 247, 250, 0) 100%);
    margin-bottom: 20px;
    border-radius: 8px 0px 0px 0px;
    font-size: 14px;
    line-height: 17px;
    color: #6E7B8F;
}

.last_contant {
    display: flex;
    justify-content: space-between;
    background-color: blue;
    box-shadow: 0px -4px 8px rgb(66 141 253 / 20%);
    border-radius: 0 0 4px 4px;
    padding: 20px;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    text-transform: uppercase;
    margin: 0px;
}

.overlay {
    background-color: red !important;
}

.blur-container {
    backdrop-filter: blur(18px);
}

@media screen and (min-width: 300px) and (max-width: 1000px) {

    .navbar {
        position: sticky;
        z-index: 1;
        background-color: white;
        width: 100%;
        cursor: pointer;
        padding: 0px;
        display: flex;
        top: 0px;
        margin: auto;
        gap: 0px;
        justify-content: space-between;
    }

    .navbar .one,
    .two,
    .three,
    .four {
        display: none;
    }

    .logo {
        display: flex;
        margin: auto;
        padding: 0px;
        order: 1;
    }

    .dropdown {
        padding-left: 5px;
    }

    button.dropbtn {
        margin: 0px;
    }

    .left_nav {
        display: flex;
        order: 1;
    }

    #cart {
        right: 0;
        width: 100%;
        padding: 0;
    }

    .input {
        padding: 0px !important;
        margin: 0px !important;
    }

}

/*Header */
.header img {
    width: 100%;
    max-width: 100%;
    margin-bottom: -4px;
}

.text34 {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
}

.text34 p {
    font-size: 20px;
}

.text34 h4 {
    font-size: 40px;
}

.position {
    position: relative;
}

.head1 {
    position: relative;
    display: flex;
    align-items: end;
    justify-content: center;
}

.button1 {
    position: absolute;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    padding: 15px 50px 15px 45px;
    border-radius: 5px;
    bottom: 50px;
    cursor: pointer;
}

.head2 h4 {
    font-size: 50px;
    letter-spacing: 0.02em;
    text-shadow: 0 0 0;
    color: #272d4d !important;
}

.head2 p {
    font-size: 15px;
    font-weight: bold;
    text-shadow: 0 0 0;
    color: #272d4d !important;
}

.button2 {
    padding: 15px 45px 15px 35px;
    border: none;
    border-radius: 5px;
    background: #272d4d !important;
    color: white;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}

.yes img {
    width: 100px;
    height: 25px;
}

.yes {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
}

.text1 {
    padding: 0px;
}

.text1 h4 {
    font-size: 40px;
    color: #C9142A;
}

.text1 button {
    padding: 15px 25px 17px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.text3 {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
}

.text3 p {
    color: yellow;
    font-size: 35px;
    font-weight: bold;
}

.text3 h4 {
    color: yellow;
    font-size: 60px;
    font-weight: bold;
}

.button4 {
    padding: 15px 45px 15px 35px;
    border: none;
    border-radius: 5px;
    background: white !important;
    color: #408AD1 !important;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}

.text4 {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
}

.text4 p {
    font-size: 25px;
    font-weight: bold;
    line-height: 48px;
    letter-spacing: -0.02em;
    color: #652100;
    text-shadow: 0 0 0
}

.text4 h4 {
    font-size: 40px;
    font-weight: bold;
    letter-spacing: -0.02em;
    color: #652100;
    text-shadow: 0 3px 7px rgb(0 0 0 / 15%);
}

.text4 h5 {
    font-size: 30px;
    letter-spacing: -0.02em;
    color: #652100;
    text-shadow: 0 3px 7px rgb(0 0 0 / 15%);
}

.button5 {
    padding: 15px 15px 12px 10px;
    text-align: center;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: -0.02em;
    background-color: #652100;
    text-shadow: 0 3px 7px rgb(0 0 0 / 15%);
    cursor: pointer;
}

.text6 {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
}

.text6 p {
    color: white;
    font-size: 17px;
}

.text6 h4 {
    color: white;
    font-size: 35px;
}

.text6 h5 {
    color: white;
    font-size: 35px;
}

.text6 button {
    padding: 16px 30px;
    cursor: pointer;
}

.text7 {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
}

.text7 h4 {
    color: #253b52;
    font-size: 59px;
}

.text7 h5 {
    color: #253b52;
    font-size: 56px;
}

.text7 button {
    padding: 16px 50px;
    background-color: #253b52;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.head {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 0;
    margin: 0px;
}

.bp-swipe-arrow {
    line-height: 1.1;
    color: #00afcb;
}

.d-flex {
    display: flex !important;
    justify-content: flex-end;
    align-items: center;
}

.slick-slider {
    overflow: hidden;
}

.slider_container {
    margin: 0 auto;
    padding: 0;
}

.slider_container .slider {
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    width: 100%;
    max-width: 100%;
}

@media screen and (min-width: 300px) and (max-width: 1000px) {
    .text34 {
        position: absolute;
        margin: 0 auto;
        padding: 0px;
    }

    .text34 p {
        font-size: 20px;
        margin: 0 auto;
    }

    .text34 h4 {
        font-size: 25px;
        margin: 0 auto;
    }

    .head1 {
        display: block;
        margin-bottom: -40px;
    }

    .button1 {
        position: relative;
        font-size: 10px;
        font-weight: bold;
        padding: 8px 10px;
        border: none;
        border-radius: 5px;
        display: flex;
    }

    .head2 h4 {
        font-size: 25px;
        letter-spacing: 0.02em;
        text-shadow: 0 0 0;
        color: #272d4d !important;
        margin: 0 auto;
    }

    .head2 p {
        font-size: 15px;
        font-weight: bold;
        text-shadow: 0 0 0;
        color: #272d4d !important;
        margin: 0 auto;
    }

    .button2 {
        padding: 8px 15px;
        border: none;
        border-radius: 5px;
        background: #272d4d !important;
        color: white;
        font-size: 14px;
        font-weight: 700;
    }

    .yes img {
        width: 100px;
        height: 25px;
        padding: 0px 0px 0px 0px;
    }

    .yes {
        position: absolute;
        text-align: center;
    }

    .text1 {
        text-align: center;
        display: inline;
    }

    .text1 h4 {
        font-size: 20px;
        color: #C9142A;
        margin: 0 auto;
    }

    .text1 button {
        padding: 5px;
        border: none;
        border-radius: 5px;
    }

    .text3 {
        text-align: center;
    }

    .text3 p {
        color: yellow;
        font-size: 20px;
        font-weight: bold;

    }

    .text3 h4 {
        color: yellow;
        font-size: 15px;
        font-weight: bold;
        margin: 0 auto;
    }

    .button4 {
        padding: 10px 25px 10px 25px;
        border: none;
        border-radius: 5px;
        background: white !important;
        color: #408AD1 !important;
        font-size: 10px;
        font-weight: 700;
    }

    .text4 {
        position: absolute;
        text-align: center;
    }

    .text4 p {
        font-size: 17px;
        font-weight: bold;
        line-height: 0px;
        letter-spacing: -0.02em;
        color: #652100;
        text-shadow: 0 0 0
    }

    .text4 h4 {
        font-size: 18px;
        font-weight: bold;
        letter-spacing: -0.02em;
        color: #652100;
        text-shadow: 0 3px 7px rgb(0 0 0 / 15%);
        margin: 0 auto;
        ;
    }

    .text4 h5 {
        font-size: 20px;
        letter-spacing: -0.02em;
        color: #652100;
        text-shadow: 0 3px 7px rgb(0 0 0 / 15%);
        margin: 0 auto;
    }

    .button5 {
        padding: 8px 10px;
        text-align: center;
        border: none;
        border-radius: 5px;
        color: white;
        font-size: 10px;
        font-weight: 700;
        letter-spacing: -0.02em;
        background-color: #652100;
        text-shadow: 0 3px 7px rgb(0 0 0 / 15%);
    }

    .text6 {
        position: absolute;
        text-align: center;
    }

    .text6 p {
        font-size: 13px;
        font-weight: bold;
        line-height: 0px;
        letter-spacing: -0.02em;
        color: white;
        text-shadow: 0 0 0
    }

    .text6 h4 {
        font-size: 20px;
        font-weight: bold;
        letter-spacing: -0.02em;
        color: white;
        text-shadow: 0 3px 7px rgb(0 0 0 / 15%);
        margin: 0 auto;
    }

    .text6 h5 {
        font-size: 20px;
        letter-spacing: -0.02em;
        color: white;
        text-shadow: 0 3px 7px rgb(0 0 0 / 15%);
        margin: 0 auto;
    }

    .text6 button {
        padding: 8px 10px;
        text-align: center;
        border: none;
        border-radius: 5px;
        color: black;
        font-size: 10px;
        font-weight: 700;
        letter-spacing: -0.02em;
        text-shadow: 0 3px 7px rgb(0 0 0 / 15%);
    }

    .text7 {
        position: absolute;
        text-align: center;
    }

    .text7 h4 {
        color: #253b52;
        font-size: 20px;
        margin: 0 auto;
        font-weight: bold;
        letter-spacing: -0.02em;
        text-shadow: 0 3px 7px rgb(0 0 0 / 15%);
    }

    .text7 h5 {
        color: #253b52;
        font-size: 20px;
        margin: 0 auto;
        letter-spacing: -0.02em;
        text-shadow: 0 3px 7px rgb(0 0 0 / 15%);
    }

    .text7 button {
        background-color: #253b52;
        padding: 8px 10px;
        text-align: center;
        border: none;
        border-radius: 5px;
        color: white;
        font-size: 10px;
        font-weight: 700;
        letter-spacing: -0.02em;
        text-shadow: 0 3px 7px rgb(0 0 0 / 15%);
    }

    .head {
        display: flex;
        justify-content: center;
        width: 100%;
        gap: 0;
        margin: 0px;
    }
}

/*middle */

.middle {
    display: flex;
    width: 100%;
    gap: 60px;
    align-items: center;
    justify-content: center;
}

.my {
    display: flex;
    width: 60%;
    gap: 20px;
}

.middle p {
    height: 30px;
    width: 110px;
}

.middle h1 {
    font-size: 20px;
    padding: 8px 50px 0px;
}

.middle h2 {
    font-size: 20px;
    padding-top: 5px;
}

@media screen and (min-width: 300px) and (max-width: 1000px) {
    .middle {
        display: block;
        width: 100%;
        margin-left: 0px;
        padding-left: 0px;
    }

    .middle h1 {
        padding: 8px 9px 0px;
        font-size: 15px;
    }

    .middle p {
        margin: 0px 0px 0px 30px;
        font-size: 12px;
    }

    .middle h2 {
        font-size: 15px;
    }

    .my {
        display: flex;
        width: 100%;
        gap: 0px;
        justify-content: space-around;
    }
}

/* section */

section {
    background-color: #D7E5FA;
    width: 100%;
    margin: 0 auto;
}

.text {
    margin: 0px;
    font-size: 24px;
    width: 35%;
    line-height: 36px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #33578D;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    left: 35%;
    top: 50px;
}

.hide {
    display: none;
}

.hide2 {
    display: none;
}

.images {
    display: flex;
    max-width: 100%;
    gap: 40px;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 60px;
}

.one1,
.two1 {
    position: relative;
}

.one1 span {
    position: absolute;
    top: 55px;
    font-size: 35px;
    right: 0;
    width: 48%;
    color: #001a5a;
    letter-spacing: 0.02em;
    font-weight: lighter;
}

.one1 span p {
    font-size: 22px;
}

.two1 span {
    position: absolute;
    top: 55px;
    font-size: 35px;
    right: 0px;
    width: 48%;
    letter-spacing: 0.02em;
    font-weight: lighter;
}

.two1 span p {
    font-size: 22px;
}

.web {
    width: 100%;
    height: 300px;
    box-shadow: 0px 4px 4px #c8daf5;
}

.pik {
    width: 100%;
    height: 300px;
    box-shadow: 0px 4px 4px #c8daf5;
}

.contain {
    max-width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 36px;
    padding-left: 65px;
    position: relative;
    top: 100px;
}

.contain img {
    width: 100%;
    height: 550px;
    box-shadow: 0px 4px 4px #c8daf5;
}

.contain p {
    position: absolute;
    font-size: 36px;
    width: 300px;
    padding-left: 65px;
    padding-top: 40px;
}

.contain .three1,
.contain .three2,
.contain .three4,
.contain .three3,
.contain .three5,
.contain .three6 {
    position: relative;
}

.contain .three1 p,
.contain .three2 p,
.contain .three4 p,
.contain .three3 p,
.contain .three5 p,
.contain .three6 p {
    max-width: 100%;
    padding-top: unset;
}

.three1 p {
    color: #441c06;
}

.three2 p {
    color: #2c3d7b;
}

.three3 p {
    color: #2c3d7b;
}

.three4 p {
    color: #252427;
}

.three5 p {
    color: #001a5a;
}

.three6 p {
    color: #232e00;
}

.xyz {
    text-align: center;
    color: #26497C;
    font-weight: bold;
    font-size: 40px;
    position: relative;
    top: 100px;
}

.main-item {
    border-bottom: 3px solid rgba(38, 73, 124, 0.21);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 120px;
    width: 84%;
    position: relative;
    top: 100px;
}


.top-head {
    width: 92%;
    margin-left: 65px;
}

.tab {
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 54px;
    letter-spacing: -0.02em;
    color: rgba(38, 73, 124, 0.5);
    display: flex;
    width: auto;
    justify-content: center;
    position: relative;
    cursor: pointer;
    height: 55px;
    margin: 0 60px;
}

.main-item {
    border-bottom: 3px solid rgba(38, 73, 124, 0.21);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 84%;
}

ul.tabs {
    margin: 0px;
    padding: 0px;
    list-style: none;
    color: rgba(38, 73, 124, 0.5);
    gap: 130px;
    display: flex;
    height: 58px;
}

ul.tabs li.current {
    color: #26497C;
    border-bottom: 4px solid #26497c;
    border-width: thick;
}

.tab-content {
    display: none;
    padding: 15px;
}

.img {
    padding: 10px 15px 0px;
}

.tab-content .img {
    display: flex;
    width: 90%;
    position: relative;
    top: 100px;
    left: 80px;
}

.tab-content .img img {
    width: 87%;
}

.tab-content.current {
    display: inherit;
    margin-bottom: 160px;
}

.button11 {
    position: absolute;
    border-radius: 5px;
    background: white;
    color: blue;
    text-shadow: 1px 0px blue;
    padding: 10px 15px 10px 15px;
    margin-left: 302px;
    border: none;
    margin-top: 40px;
    cursor: pointer;
}

.img-text {
    background: white;
    width: 87%;
    margin-top: -27px;
    padding-top: 10px;
    height: 175px;
    margin-left: 20px;
}

.img-text h4 {
    padding-left: 20px;
    cursor: pointer;
}

.img-text p {
    font-size: 15px;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: #000000;
    padding: 0px 20px;
}

.font {
    float: right;
    margin-top: -45px;
    margin-right: 45px;
    cursor: pointer;
}

.top {
    max-width: 90%;
    background-color: white;
    text-align: center;
    padding: 40px 18px;
    margin-left: 40px;
}

.text5 p {
    font-size: 33px;
    letter-spacing: 0.02em;
    line-height: 30px;
    font-weight: bold;
}

.submit {
    padding: 15px 60px 15px 40px;
    color: white;
    border: none;
    border-radius: 5%;
    background: #1d89e1;
    font-weight: bold;
    cursor: pointer;
}

.img img {
    max-width: 100%;
    padding: 40px 6px 0px 20px;
}

.top .img img {
    max-width: 100%;
    padding: 40px 6px 0px 6px;
}

.middle1 {
    width: 100%;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
    top: 60px;
    padding: 50px 0px;
}

.img1 {
    padding-left: 120px;
    width: 215px;
    text-align: center;
    font-weight: bold;
}

.bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    position: relative;
    padding-top: 80px;
    left: 77px;
}

.myimg img {
    width: 600px;
}

.mytext {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    justify-content: center;
    margin-left: 75px;
}

.kits_label_new {
    display: inline-block;
    text-transform: uppercase;
    margin: 0px;
    border-radius: 2px;
    padding: 6px 3px 3px 3px;
    font-size: 9px !important;
    vertical-align: middle;
    font-weight: 700;
    margin-left: 7px;
    background: #FBFF27 !important;
    color: #000 !important;
    margin-top: -1px !important;
    line-height: 10px !important;
}

.review_btn_new {
    max-width: 356px;
    margin: 48px 0 0 0;
    background: #000000;
    border-radius: 4px;
    padding: 12px 12px 12px 24px;
}

.review_btn_new a {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.review_name_new {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
}

.stars_new {
    background: #435570;
    border-radius: 100px;
    padding: 8px 16px;
    font-weight: 500;
    font-size: 10px;
    line-height: 18px;
    text-transform: uppercase;
    color: #FFFFFF;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.stars_new svg {
    margin: 0 1px;
}

.stars_new span {
    margin: 0 0 -2px 4px;
}

@media screen and (min-width: 300px) and (max-width: 1000px) {
    section {
        width: 100%;
        margin: auto;
        padding: 0;
    }

    .tab-content .img img {
        padding: 0px;
        margin: 0 auto;
        width: 100%;
    }

    .text {
        font-size: 15px;
    }

    .tab-content.current {
        padding: 0px;
    }

    .bottom {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 75%;
        margin: auto;
        left: 0px;
    }

    .img-text p {
        padding: 0px 5px;
        font-size: 10px;
    }

    .text {
        left: 0px;
    }

    .img1 {
        padding: 0px;
        font-size: 15px;
    }

    .myimg img {
        width: 100%;
        margin: 0px auto;
    }

    .contain img {
        width: 100%;
        height: auto;
    }

    .mytext {
        text-align: center;
        width: 100%;
        margin: 0 auto;
        font-size: 14px;
    }

    .review_btn_new {
        margin: 17px 0px 30px 0px;
    }

    .text5 p {
        font-size: 15px;
    }

    .hide {
        display: flex;
        background: #d7e5fa;
        font-weight: 500;
        text-align: center;
        font-size: 17px;
        line-height: 20px;
        letter-spacing: -0.02em;
        color: #26497C;
        justify-content: center;
        position: relative;
    }

    .hide2 {
        display: block;
        color: rgb(29, 79, 153);
        text-align: center;
        font-size: 20px;
        position: relative;
        top: 100px;
        font-weight: bold;
    }

    .hide2 strong {
        font-weight: bold;
        font-size: 20px;
    }

    .stars_old {
        color: #1D4F99;
    }

    .contain p {
        font-size: 17px;
        padding: 0px;
        margin: 0px;
    }

    .text {
        width: 100%;
        margin: 0px;
    }

    .main-item {
        display: flex;
        justify-content: center;
        text-align: center;
        padding: 0px;
        margin: 0px;
        align-items: center;
        width: 100%;
    }

    .tab {
        font-size: 20px;
        display: flex;
        margin: 0px;
        padding: 0px;
        height: auto;
    }

    ul.tabs {
        display: flex;
        gap: 15px;
        font-size: 12px;
        width: 100%;
        max-width: 100%;
    }

    .button11 {
        margin: 0px;
        padding: 5px 10px;
    }

    .tab-content .img {
        display: flex;
        width: 100%;
        margin: 0px;
        left: 0px;
        flex-direction: column;
        gap: 15px;
    }

    .text p {
        padding: 0px 5px;
    }

    .img-text {
        height: auto;
        padding: 0px;
        margin: 0 auto;
        width: 100%;
    }

    .img-text h4 {
        padding: 0px 5px;
        margin: 0 auto;
        font-size: 11px;
    }

    .stars_new {
        padding: 5px;
    }

    .review_name_new {
        font-size: 8px;
    }

    .xyz {
        font-size: 20px;
    }

    .font {
        margin: 0px;
        padding: 0px;
        padding-right: 10px;
    }

    .font strong {
        font-size: 10px;
    }

    .fa-solid,
    .fas {
        font-size: 15px;
    }

    .images {
        display: grid;
        width: 100%;
        margin: auto;
        gap: 15px;
    }

    .web {
        height: auto;
    }

    .pik {
        height: auto;
    }

    .one1 span {
        position: absolute;
        top: 10px;
        left: 10px;
        width: 90%;
        font-size: 15px;
    }

    .two1 span {
        position: absolute;
        top: 10px;
        left: 10px;
        width: 90%;
        font-size: 15px;
    }

    .two1 span p {
        font-size: 15px;
        margin: 0px;
    }

    .one1 span p {
        font-size: 15px;
        margin: 0px;
    }

    .contain {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px;
        margin: auto;
    }

    .middle1 {
        display: flex;
        flex-direction: column;
        gap: 55px;
        align-items: center;
    }

    .top {
        width: 100%;
        text-align: center;
        margin: 0px;
        padding: 0px;
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .img img {
        width: 100%;
        padding: 40px 0px 0px;
    }
}

/*accorion */
.accoridan {
    background: #eaedf4;
}

.main {
    display: none;
}

.accordin-item {
    padding: 10px 0;
    text-align: center;
    font-weight: 700;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #1774FF;
    cursor: pointer;
}

.accordin-item h1 {
    margin: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #1774FF;
}

.acccordian-contant {
    display: flex;
    gap: 40px;
    align-items: center;
    background: #eaedf4;
}

.panel {
    padding: 32px 0 0 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: -0.02em;
    color: #6A6673;
    margin-right: 58px;
    padding-bottom: 40px;
}

.header h1 {
    font-weight: 600;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #1774FF;
    cursor: pointer;
    margin-top: 30px;
    display: flex;
    gap: 75px;
}

.panel a {
    color: #1774FF;
    font-weight: bold;
}

@media screen and (min-width: 300px) and (max-width: 1000px) {
    .accoridan {
        width: 100%;
    }

    .accordin-item {
        text-align: center;
        font-size: 7px;
    }

    .acccordian-contant {
        display: flex;
        flex-direction: column-reverse;
        padding: 0px;
        gap: 0px;
    }

    .panel {
        padding: 0px 10px;
        text-align: center;
        margin: 0px;
    }

    .header span {
        margin: 0px;
        padding-left: 10px;
    }

    .header h1 {
        text-align: center;
        font-size: 10px;
        justify-content: center;
        gap: 0;
    }

    .images4 img {
        height: auto;
        width: 100%;
    }
}

/*footer */
.footer {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 50px 0px 50px 120px;
}

.firstfoot {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
}

.lastfoot {
    margin-left: 70px;
}

.firstfoot p {
    line-height: 15px;
    font-size: 16px;
}

input[type="text"] {
    padding: 10px 50px 10px 0px;
}

.but {
    background: black;
    color: white;
    margin-left: -4px;
    padding: 10px 18px 10px 15px;
}

.icon {
    margin-left: 10px;
    font-size: 23px;
    text-align: center;
    text-decoration: none;
    color: black;
    position: relative;
    top: -15px;
    left: 65px;
}

.foot2 p b {
    background: #000000;
    border-radius: 100px;
    color: #fff;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: -0.02em;
    position: relative;
    vertical-align: middle;
    margin: -3px 0 -5px 4px;
    padding: 5px 10px;
}

.firstfoot H4 {
    font-weight: bold;
}

@media screen and (min-width: 300px) and (max-width: 1000px) {
    .footer {
        display: inline-block;
        width: 100%;
        margin: 0px;
        text-align: center;
    }

    .firstfoot {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .lastfoot {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
        background-color: #FAF6EF;
        margin: 0px;
    }

    .lastfoot img {
        position: relative;
        left: 30%;
    }

    .lastfoot p {
        font-size: 14px;
        width: 95%;
        padding-left: 10px;
    }

    input[type="text"] {
        margin: auto;
        padding: 15px 0px 15px;
    }

    .but {
        display: inline;
        position: relative;
        padding: 15px 18px 15px 15px;
        left: 69%;
        top: -50px;
    }

    .icon {
        display: inline;
        position: relative;
        left: 15%;
        padding-bottom: 50px;
    }
}

/* End */
.end {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #FAF6EF;
    height: 70px;
    font-size: 18px;
}

.end a li {
    color: black;
}

@media screen and (min-width: 300px) and (max-width: 1000px) {
    .end {
        background-color: black;
        color: white;
        font-size: 10px;
        gap: 10px;
        width: 100%;
    }

    .end a li {
        color: white;
    }
}